/* DIFERENTES CALIGRAFÍAS */

.arete__carta[data-caligrafia='rhaelle'] :is(destinatario, firma) {
    font-family: "Mea Culpa", cursive;
    font-size: 1.7rem;
}

.arete__carta[data-caligrafia='nyvenne'] :is(destinatario, firma) {
    font-family: "My Soul", cursive;
    font-size: 1.4rem;
}

/* SELLO - EMBLEMAS DE CASAS */

.arete__carta .seal[data-reino="targaryen"]::after {
   -webkit-mask-image: var(--letter-targaryen);
   mask-image: var(--letter-targaryen);   
   mask-size: var(--mask-size-targaryen);
   -webkit-mask-size: var(--mask-size-targaryen); 
}

.arete__carta .seal[data-reino="dayne"]::after {
   -webkit-mask-image: var(--letter-dayne);
   mask-image: var(--letter-dayne);   
   mask-size: var(--mask-size-dayne);
   -webkit-mask-size: var(--mask-size-dayne); 
}

.arete__carta {
    --letter-targaryen: url("https://i.postimg.cc/RFRWYvmP/emblema-targ.png");
    --mask-size-targaryen: 52px;
    
    --letter-dayne: url("https://i.postimg.cc/pT9SGLKX/emblema-dayne.png");
    --mask-size-dayne: 40px;

    width: clamp(45ch, 63%, 75ch);

    backdrop-filter: var(--filter-blur); 

    border: var(--letter-border);

    outline: var(--letter-border);
    outline-offset: 11px;
    outline-color: #1f1b1b;
}

.arete__carta contexto::before {
    background-image: url(https://i.postimg.cc/x81dvsf5/asoiaf-letter-fondo.png);    
    background-position: center 70%;
    filter: contrast(40%) grayscale(1);
}

.arete__carta sello::after {
    color: var(--letter-accent);
}

/* SELLO - FORMA */

.arete__carta .seal {
    background-color: var(--letter-accent);
    border-color: var(--letter-accent);
}

.arete__carta .seal::after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    inset: 0;
    left: 50%;
    top: 50%;
  
    background-color: rgba(0,0,0,.22);

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;     

    mask-repeat: no-repeat;
    mask-position: center;
}