.tree-wrapper {  
  --tree-accent: var(--house-color);
  --adopted-color: var(--house-adopted);

  --clr-text: hsl(0, 0%, 98.4%);
  --clr-secondary:#a5a5a5;

  --card-height: 275px;
  
  --curva: 99rem 99rem 0 0;

  --tree-display: 'TLLRegular';
  --tree-font: 'Open Sans', sans-serif;

  --tree-bg: var(--dbckg1);

  width: 980px;

  background-color: var(--tree-bg);

  border: var(--border2);
  outline: var(--border2);
  outline-offset: 11px;
  outline-color: var(--group-50);
}

.tree-header {
  min-height: 250px;

  background-color: color-mix(in srgb, var(--tree-accent) 30%, transparent 70%);

  padding: var(--space-lg) var(--space-md);  
}

h1.tree-title {
  font-size: 70px;
}

h2.tree-subtitle {
  font-size: 1rem;
}

.tree-emblem {
  display: block;
  width: 50%;

  background-color: color-mix(in srgb, var(--tree-accent) 20%, transparent 80%);

  aspect-ratio: 1;
  mask-image: var(--house-emblem);
  mask-position: center;
  mask-size: 50%;
  mask-repeat: no-repeat;
  
  position: absolute;  
}

/* PERSONAJES */

.frame::before {
  background-image: url(https://i.pinimg.com/736x/1d/96/85/1d96855c80d6720b1d30567e89d54092.jpg);
}

/* TEXTO */

.name {
  font-size: 1.6rem;
  font-weight: 600;
  
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.name a {
  cursor: crosshair;
}

.card[data-status='dead'] a::after {
  content: '𓉸';
}

.dates,
.title {
  font-family: var(--tree-font);
  
  text-transform: uppercase;
}

.dates {
  font-size: .65rem;
}

.title {
  font-size: .7rem;

  font-weight: 600;
}

.name a::after {
  content: ' ↗';

  font-family: none;
}

/*VARIANTES*/

/*LÍDER */

.card[data-rol='leader']::after {
  content: '\E1D4';

  font-family: 'game-icons';
  font-size: 3rem;
  color: var(--clr-text);

  top: -55px;
  left: 50%;
  transform: translateX(-50%);
}

/* IN LAWS - FAMILIA POLÍTICA */

.in-laws {
  --tree-accent: var(--house-in-laws);
}