@font-face {
  font-family: 'mnsimplicity-display';
  src: url('https://dl.dropbox.com/s/r246d0jatmd6ulk/abuse.ttf') format('truetype');
}

.mnfarete_simplicity {
width: calc(220px + (8px*2) + (2px*2));
margin: auto;
}

.mnfarete_simplicity h2 {
font-family: var(--mnsimplicity-font)!important;
font-size: .85rem!important;
font-weight: 400!important;
color: #f1f1f1!important;
text-align: center!important;

padding: 0!important;
}

.mnfarete_simplicity strong {
font-family: mnsimplicity-display!important;
font-size: 1.5rem!important;
font-weight: 400!important;  
color: var(--mnsimplicity-accent)!important;  
letter-spacing: 1px!important;

margin: .15em!important;
}

.mnfarete_simplicity-corners {
width: 220px;
height: 220px;

--s-simplicity: 50px; /* size of the corners */

border: 2px solid var(--mnsimplicity-accent);
padding: 8px;
background: #f2f2f2 content-box;
object-fit: cover;
mask: 
  conic-gradient(#000 0 0) content-box,
  conic-gradient(at var(--s-simplicity) var(--s-simplicity),#0000 75%,#000 0) 
  0 0/calc(100% - var(--s-simplicity)) calc(100% - var(--s-simplicity));
}
